<section class="section-services" id="services">
    <div class="container">
        <div class="about-title ">
            <h3 class="section-title">
                    <span class="n-section-title">3.</span> {{"Services.Title" | translate}}
            </h3>
        </div>
        <div class="services-container">
            <div class="services-card ">
                <h3>{{"Services.WebDev.Title" | translate}}</h3>
                <p [innerHTML]="'Services.WebDev.Description' | translate"></p>
            </div> 
            <div class="services-card">
                <h3>{{"Services.DevOps.Title" | translate}}</h3>
                <p [innerHTML]="'Services.DevOps.Description' | translate"></p>
            </div> 
            <div class="services-card">
                <h3>{{"Services.Mobile.Title" | translate}}</h3>
                <p [innerHTML]="'Services.Mobile.Description' | translate"></p>
            </div> 
        </div>
    </div>
</section>